body{
    border: solid black 2px;
    margin: 0;
    font-family: 'Shippori Antique B1', sans-serif;    
    background-color: rgb(238, 231, 225);
    border-bottom: none;
}
#divHeading {
    background-color: rgb(94, 111, 211);
    width: 100%;
    padding: 5% 0px;
    border-radius: 0%;
}
h1 {
    text-align: center;
    padding: 0px 100px 0px 100px;
    font-size: 80px;
}
h3 {
    font-size: 38px;
    margin-bottom: 0;
}
#introMessage {
    font-size: large;
    padding-left:5%;
}

#readyButton {
    background-color: rgb(94, 111, 211);
    font-size: large;
    border: 0.5px solid;
    height: 40px;
    border-radius: 5px;
    margin-left: 44%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#submitButton {
    background-color: rgb(94, 111, 211);
    font-size: large;
    border: 0.5px solid;
    height: 40px;
    border-radius: 5px;
    margin-left: 27%;
    margin-bottom: 2%;
    margin-top: 2%;   
}

#prov {
    padding-left: 5%;
}

#divInputs {
    visibility: hidden;
    padding-left: 20%;
}
#results {
    padding-left: 5%;
}
a {
    color: black;
    text-decoration: none;
}

label {
    font-size: large;
    padding-bottom: 5px;
}

input {
    width: 16%;
    margin-top: 10%;
}

